# Group by and Aggregating

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"E:\Self-learning\Pandas\Flavors (1).csv")
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [14]:
df.groupby('Base Flavor')

In [15]:
df.groupby('Base Flavor')['Flavor Rating'].mean()

Base Flavor
Chocolate    8.4
Vanilla      5.7
Name: Flavor Rating, dtype: float64

In [21]:
df.groupby('Base Flavor').mean()

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [16]:
df.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [27]:
df.groupby('Base Flavor').mean(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [36]:
df.groupby('Base Flavor').count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [35]:
df.groupby('Base Flavor').sum(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1

In [13]:
df.groupby('Base Flavor').sum(numeric_only=True).loc[['Chocolate']] #similar to having clause in SQL

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1

In [ ]:
df.groupby('Base Flavor')['Flavor rating'].mean()

In [ ]:
df.groupby('Base Flavor').agg({'Flavor Rating':'mean','Texture Rating':['mean','sum']})

            Flavor Rating Texture Rating
                     mean           mean   sum
Base Flavor
Chocolate             8.4       7.233333  21.7
Vanilla               5.7       5.650000  33.9

In [ ]:
df.groupby('Base Flavor').agg({'Flavor Rating':['mean','sum'],'Total Rating':['count'],'Texture Rating':['median']})

            Flavor Rating       Total Rating Texture Rating
                     mean   sum        count         median
Base Flavor
Chocolate             8.4  25.2            3            7.1
Vanilla               5.7  34.2            6            5.5

In [27]:
list(df.groupby('Base Flavor')['Flavor Rating'])

[('Chocolate',
  1    8.8
  4    8.2
  8    8.2
  Name: Flavor Rating, dtype: float64),
 ('Vanilla',
  0    10.0
  2     4.7
  3     6.9
  5     2.3
  6     6.5
  7     3.8
  Name: Flavor Rating, dtype: float64)]

In [28]:
df.groupby('Base Flavor')['Flavor Rating'].agg(lambda x: x.max() - x.min())

Base Flavor
Chocolate    0.6
Vanilla      7.7
Name: Flavor Rating, dtype: float64

In [ ]:
df.groupby('Base Flavor').agg({'Flavor Rating':lambda x: x.max() - x.min()})

In [38]:
df.groupby('Base Flavor').agg({'Flavor Rating': ['mean','sum']})

            Flavor Rating
                     mean   sum
Base Flavor
Chocolate             8.4  25.2
Vanilla               5.7  34.2

In [ ]:
df.groupby('Base Flavor').agg({'Flavor Rating': ['mean','max','count','sum','min'], 'Texture Rating':['mean','max','count','sum'] })

            Flavor Rating                        Texture Rating             \
                     mean   max count   sum  min           mean  max count
Base Flavor
Chocolate             8.4   8.8     3  25.2  8.2       7.233333  7.6     3
Vanilla               5.7  10.0     6  34.2  2.3       5.650000  8.0     6


              sum
Base Flavor
Chocolate    21.7
Vanilla      33.9

In [40]:
df.groupby(['Base Flavor','Liked']).agg({'Flavor Rating': ['mean','max','count','sum']})

                  Flavor Rating
                           mean   max count   sum
Base Flavor Liked
Chocolate   Yes             8.4   8.8     3  25.2
Vanilla     No              3.6   4.7     3  10.8
            Yes             7.8  10.0     3  23.4

In [29]:
df=pd.read_csv(r"E:\Self-learning\Pandas\Flavors (1).csv")

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Flavor          9 non-null      object
 1   Base Flavor     9 non-null      object
 2   Liked           9 non-null      object
 3   Flavor Rating   9 non-null      float64
 4   Texture Rating  9 non-null      float64
 5   Total Rating    9 non-null      float64
dtypes: float64(3), object(3)
memory usage: 560.0+ bytes

In [33]:
df.describe()

       Flavor Rating  Texture Rating  Total Rating
count         9.0000        9.000000      9.000000
mean          6.6000        6.177778     12.800000
std           2.5387        1.478832      4.030509
min           2.3000        3.400000      5.700000
25%           4.7000        5.000000      9.700000
50%           6.9000        6.500000     13.400000
75%           8.2000        7.100000     15.300000
max          10.0000        8.000000     18.000000

In [ ]:
df.groupby('Base Flavor').describe()    8.2-4.7

            Flavor Rating                                             \
                    count mean       std  min    25%  50%  75%   max
Base Flavor
Chocolate             3.0  8.4  0.346410  8.2  8.200  8.2  8.5   8.8
Vanilla               6.0  5.7  2.710719  2.3  4.025  5.6  6.8  10.0

            Texture Rating            ...             Total Rating         \
                     count      mean  ...    75%  max        count   mean
Base Flavor                           ...
Chocolate              3.0  7.233333  ...  7.350  7.6          3.0  15.70
Vanilla                6.0  5.650000  ...  6.375  8.0          6.0  11.35


                  std   min     25%   50%     75%   max
Base Flavor
Chocolate    0.781025  15.2  15.250  15.3  15.950  16.6
Vanilla      4.263684   5.7   9.025  11.1  13.175  18.0

[2 rows x 24 columns]